* {
    box-sizing: border-box
}

*:after,
*.before {
    box-sizing: border-box
}

html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
    display: block
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none
}

body {
    line-height: 1
}

ol,
ul {
    list-style-type: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal
}

input,
textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

button,
input[type="button"] {
    background: 0
}

:required {
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none
}

em,
i {
    font-style: italic
}

strong,
b {
    font-weight: bold
}

u {
    text-decoration: underline
}

pre,
code {
    font-family: Monaco, Courier, monospace
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

blockquote,
q {
    quotes: "" ""
}

blockquote:before,
blockquote:after {
    content: ""
}

q:before,
q:after {
    content: ""
}

a {
    cursor: pointer
}

input[type="submit"],
input[type="button"] {
    cursor: pointer
}

button,
label[for] {
    cursor: pointer
}

img {
    -ms-interpolation-mode: bicubic
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: .02em
}

a {
    color: inherit;
    -webkit-transition: color 150ms ease-out;
    transition: color 150ms ease-out
}

a:hover {
    color: dimgray
}

html {
    font-size: 62.5%;
    background: #C6364B;
    color: white
}

body {
    font-family: 'Maison Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 2;
    min-height: 100vh;
    font-weight: bold;
    position: relative;
    -moz-osx-font-smoothing: grayscale
}

main {
    overflow: auto
}

.header {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 6em 2em;
    z-index: 9000
}

.header-title {
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: .2em;
    font-weight: bold;
    color: white
}

.faq {
    margin: 14em auto;
    max-width: calc(50rem + 2em);
    padding: 0 2em
}

.faq-title {
    margin-bottom: 2em;
    text-align: center
}

.faq-q::before {
    content: "Q : "
}

.faq-a {
    margin-bottom: 2em
}

.faq-a::before {
    content: "A : "
}

.news {
    margin: 50vh 0;
    text-align: center;
    padding: 0 2em
}

.footer {
    position: absolute;
    bottom: 1.5em;
    right: 2em;
    left: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.2rem
}

.footer * {
    color: #1e1e1e
}
.main {
    position: relative;
}
.theme {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 2em 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
    justify-content: center;
}

.theme-content {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center
}

.theme-browser {
    width: 100%
}

.theme-browser-topbar {
    background: #ececec;
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.theme-browser-dots {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: #d8d8d8;
    margin-right: .5rem
}

.theme-demo-wrap {
    margin-bottom: 2em
}

.theme-demo-link {
    display: block;
    cursor: help
}

.theme-demo {
    display: block;
    width: 100%;
    height: auto
}

.theme-links {
    text-align: center
}

.theme-link,
.theme-title {
    color: inherit;
    font-weight: bold
}

.thank-you {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.thank-you-content {
    text-transform: uppercase;
    letter-spacing: .02em
}
